<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nanolab Dual Beam</title>
    <link rel="stylesheet" href="static/engineer/engineer_style.css">
</head>

<body>
    <header>
        <nav>
            <a href="/">
                <div id="logo">
                    <h1 id="initials">FS</h1>
                    <h1 id="title">Material<br>Analysis</h1>
                </div>
            </a>

            <!-- Queue Tab -->
            <a href="/engineer_portal">
                <h2>Operations</h2>
            </a>
            <a href="/engineer_training">
                <h2>Training</h2>
            </a>
            <a href="/engineer_productivity">
                <h2>Productivity</h2>
            </a>
            <a href="/engineer_resources">
                <h2>Resources</h2>
            </a>

        </nav>
    </header>
    <main>
        <div class="sidebar">
            <a id="dashboard-button">Dashboard</a>
            <a id="queue-button">Acronyms & Vocabulary</a>
            <a href="#">Preparation Guides</a>
            <a href="#">Materials</a>
            <a href="#">FA Tools</a>
            <a href="">RGB Manufacturing Process</a>
        </div>

        <div class="main-content">

            <section class="section" id="dashboard">
                <h2></h2>
                <dl>
                    <dt>RGB: Red, Green, Blue</dt>
                    <dd>Colors of micro Led's on display chip.</dd>
                    <dt>SRD: Spin, Rinse, Dry</dt>
                    <dd>Process for cleaning wafer after performing failure analysis.</dd>
                    <dt>FA: Failure Analysis</dt>
                    <dd></dd>
                    <dt>CMT</dt>
                    <dd></dd>
                    <dt>HVB</dt>
                    <dd></dd>
                    <dt></dt>
                    <dd></dd>
                </dl>

            </section>
            <section class="section" id="queue">

            </section>

        </div>

    </main>
    <script src="{{ url_for('static', filename='engineer/engineerOperationsScript.js') }}"></script>
</body>

</html>