<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Order Submissions</title>


    <link rel="stylesheet" type="text/css" href="/static/engineer/css/newOrder_style.css">
</head>

<body>
    <header>
        <nav>
            <a href="/">
                <div class="logo" id="logo">
                    <h1 id="initials">FS</h1>
                    <h1 id="title">Material<br>Analysis</h1>
                </div>
            </a>             
            
          
        </nav>
    </header>
    <main>
        <div class="sidebar">
            <a href="/orders">Order Queue</a>
            <a href="/new_order" class="current-page">New Orders</a>
            <a href="/companies">Company Accounts</a>
            <a href="/contacts">Contact List</a>

        </div>

        <div class="main-content">
            <section id="forms">

                <form id="waferForm">
                    <div class="form-section" id="constants">
                        <div class="form-group">
                            <label name="customerId">Customer</label>
                            <div id="customer"></div>

                        </div>
                        <div class="form-group">
                            <label name="priorityId">Priority</label>
                            <input type="text" name="priorityId" id="priorityId" placeholder="Enter Priority"
                                required />
                        </div>
                    </div>
                    <button type="button" class="wafer-btn" onclick="addWafer()">
                        Add Wafer
                    </button>
                    <div class="form-section" id="wafer-container">
                        <div class="wafer-section">

                            <div class="label-container">
                                <label>Wafer ID</label>

                            </div>
                            <input type="text" name="wafer-id" placeholder="Enter wafer Id" required />
                            <button type="button" class="chip-btn" onclick="addChip(this)">
                                Add Chip
                            </button>
                            <div class="chip-container">
                                <div class="chip-section">
                                    <div class="label-container">
                                        <label>Chip ID</label>
                                    </div>
                                    <input type="text" name="chip-id" placeholder="Enter Chip Id" required />
                                    <button type="button" class="lamella-button" onclick="addLamella(this)">
                                        Add Lamella
                                    </button>
                                    <div class="lamella-container">
                                        <div class="lamella-section">
                                            <div class="label-container">
                                                <label>Lamella ID</label>
                                            </div>
                                            <input class="lamella-input" type="text" name="lamella-name"
                                                placeholder="Enter lamella name" required />

                                            <div class="instruction-file">
                                                <label>Instructions</label>
                                                <input id="files" type="file" multiple />
                                            </div>
                                            <div class="analysis-section">
                                                <fieldset>
                                                    <legend>
                                                        Analysis
                                                    </legend>
                                                    <div class="analysis-checkbox">

                                                        <div class="checkbox-input">
                                                            <label for="fib-sem">
                                                                <input type="checkbox" name="techniques[]"
                                                                    value="fib-sem">FIB-SEM</label>

                                                        </div>
                                                        <div class="checkbox-input">
                                                            <label for="30kv-stem">
                                                                <input type="checkbox" name="techniques[]"
                                                                    value="30kv-stem"> 30Kv STEM</label>
                                                        </div>

                                                        <div class="checkbox-input">
                                                            <label for="tem">
                                                                <input type="checkbox" name='techniques[]'
                                                                    value="tem">TEM</label>

                                                        </div>
                                                        <div class="checkbox-input">
                                                            <label for="eds">
                                                                <input type="checkbox" name="techniques[]"
                                                                    value="eds">EDS</label>
                                                        </div>

                                                        <div class="checkbox-input">
                                                            <label for="eels">
                                                                <input type="checkbox" name="techniques[]"
                                                                    value="eels">EELS</label>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="lamella-description">
                                                <label>Notes</label>
                                                <textarea class="notes"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="submit-button">Submit</button>
                </form>
            </section>
            <section id="templates">
                <!-- Wafer -->
                <template id="tpl-wafer">

                    <div class="wafer-section">
                        <div class="label-container">
                            <label>Wafer ID</label>
                            <button class="delete-btn">❌</button>
                        </div>
                        <input type="text" name="wafer-id" placeholder="Enter wafer Id" required />
                        <button type="button" class="chip-btn" onclick="addChip(this)">
                            Add Chip
                        </button>
                        <div class="chip-container">
                            <div class="chip-section">
                                <div class="label-container">
                                    <label>Chip ID</label>
                                </div>
                                <input type="text" name="chip-id" placeholder="Enter Chip Id" required />
                                <button type="button" class="lamella-button" onclick="addLamella(this)">
                                    Add Lamella
                                </button>
                                <div class="lamella-container">
                                    <div class="lamella-section">
                                        <div class="label-container">
                                            <label>Lamella ID</label>
                                        </div>
                                        <input class="lamella-input" type="text" name="lamella-id"
                                            placeholder="Enter lamella name" required />
                                        <div class="instruction-file">
                                            <label>Instructions</label>
                                            <input id="files" type="file" />
                                        </div>
                                        <div class="analysis-section">
                                            <fieldset>
                                                <legend>
                                                    Analysis
                                                </legend>
                                                <div class="analysis-checkbox">

                                                    <div class="checkbox-input">
                                                        <label for="fib-sem">
                                                            <input type="checkbox" name="techniques[]"
                                                                value="fib-sem">FIB-SEM</label>

                                                    </div>
                                                    <div class="checkbox-input">
                                                        <label for="30kv-stem">
                                                            <input type="checkbox" name="techniques[]"
                                                                value="30kv-stem"> 30Kv STEM</label>
                                                    </div>

                                                    <div class="checkbox-input">
                                                        <label for="tem">
                                                            <input type="checkbox" name='techniques[]'
                                                                value="tem">TEM</label>

                                                    </div>
                                                    <div class="checkbox-input">
                                                        <label for="eds">
                                                            <input type="checkbox" name="techniques[]"
                                                                value="eds">EDS</label>
                                                    </div>

                                                    <div class="checkbox-input">
                                                        <label for="eels">
                                                            <input type="checkbox" name="techniques[]"
                                                                value="eels">EELS</label>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="lamella-description">
                                            <label>Notes</label>
                                            <textarea></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </template>

                <!-- Chip -->
                <template id="tpl-chip">
                    <div class="chip-section">
                        <div class="label-container">
                            <label>Chip ID</label>
                            <button class="delete-btn">❌</button>
                        </div>
                        <input type="text" name="chip-id" placeholder="Enter Chip Id" required />
                        <button type="button" class="lamella-button" onclick="addLamella(this)">
                            Add Lamella
                        </button>

                        <div class="lamella-container">
                            <div class="lamella-section">
                                <div class="label-container">
                                    <label>Lamella ID</label>
                                </div>
                                <input class="lamella-input" type="text" name="lamella-name"
                                    placeholder="Enter lamella name" required />
                                <div class="instruction-file">
                                    <label>Instructions</label>
                                    <input id="files" type="file" multiple />
                                </div>
                                <div class="analysis-section">
                                    <fieldset>
                                        <legend>
                                            Analysis
                                        </legend>
                                        <div class="analysis-checkbox">

                                            <div class="checkbox-input">
                                                <label for="fib-sem">
                                                    <input type="checkbox" name="techniques[]"
                                                        value="fib-sem">FIB-SEM</label>

                                            </div>
                                            <div class="checkbox-input">
                                                <label for="30kv-stem">
                                                    <input type="checkbox" name="techniques[]" value="30kv-stem"> 30Kv
                                                    STEM</label>
                                            </div>

                                            <div class="checkbox-input">
                                                <label for="tem">
                                                    <input type="checkbox" name='techniques[]' value="tem">TEM</label>

                                            </div>
                                            <div class="checkbox-input">
                                                <label for="eds">
                                                    <input type="checkbox" name="techniques[]" value="eds">EDS</label>
                                            </div>

                                            <div class="checkbox-input">
                                                <label for="eels">
                                                    <input type="checkbox" name="techniques[]" value="eels">EELS</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="lamella-description">
                                    <label>Notes</label>
                                    <textarea></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>

                <!-- Lamella -->
                <template id="tpl-lamella">
                    <div class="lamella-section">
                        <div class="label-container">
                            <label>Lamella ID</label>
                            <button class="delete-btn">❌</button>
                        </div>
                        <input class="lamella-input" type="text" name="lamella-name" placeholder="Enter lamella name"
                            required />
                        <div class="instruction-file">
                            <label>Instructions</label>
                            <input id="files" type="file" multiple />
                        </div>
                        <div class="analysis-section">
                            <fieldset>
                                <legend>
                                    Analysis
                                </legend>
                                <div class="analysis-checkbox">

                                    <div class="checkbox-input">
                                        <label><input type="checkbox" name="techniques[]"
                                                value="fib-sem"><span>FIB-SEM</span></label>
                                    </div>
                                    <div class="checkbox-input">
                                        <label>
                                            <input type="checkbox" name="techniques[]" value="30kv-stem">30Kv
                                            STEM
                                        </label>
                                    </div>

                                    <div class="checkbox-input">
                                        <label>
                                            <input type="checkbox" name='techniques[]' value="tem">TEM</label>

                                    </div>
                                    <div class="checkbox-input">
                                        <label>
                                            <input type="checkbox" name="techniques[]" value="eds">EDS</label>
                                    </div>

                                    <div class="checkbox-input">
                                        <label for="eels">
                                            <input type="checkbox" name="techniques[]" value="eels">EELS</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="lamella-description">
                            <label>Notes</label>
                            <textarea></textarea>
                        </div>
                    </div>
                </template>
            </section>
        </div>

    </main>
    <footer>
        <p>&copy; 2023 Company Name. All rights reserved.</p>
    </footer>
    <script>
        function eventListeners() {
            const addWaferBtn = document.querySelectorAll('.wafer-btn')
            document.addEventListener()
        }

        function addWafer() {
            const container = document.getElementById('wafer-container')
            const temp = document.getElementById('tpl-wafer')
            const clone = temp.content.cloneNode(true);

            container.appendChild(clone);
        }
        function addChip(btn) {
            const wafer = btn.closest('.wafer-section')
            const container = wafer.querySelector('.chip-container')
            const temp = document.getElementById('tpl-chip')
            const clone = temp.content.cloneNode(true);

            container.appendChild(clone);
        }
        function addLamella(btn) {
            const chip = btn.closest('.chip-section')
            const container = chip.querySelector('.lamella-container')
            const temp = document.getElementById('tpl-lamella')
            const clone = temp.content.cloneNode(true);

            container.appendChild(clone);
        }


    </script>
    <script>

        // Load account data on Open
        loadContacts('customer');



        /* =========================================================
        🧾 FORM SUBMISSION HANDLER
        Collects nested wafer → chip → lamella data
        Builds JSON object for backend API
        ========================================================= */
        const orderForm = document.getElementById('waferForm');

        orderForm.addEventListener('submit', (event) => {
            // Prevent page reload on form submission
            event.preventDefault()

            // Begin creating the main order oject with metadata
            const orderData = {
                customerId: document.getElementById('customerId').value,
                priorityId: document.getElementById('priorityId').value,
                wafers: []
            }

            // Get the wafer id for each wafer section
            document.querySelectorAll('.wafer-section').forEach(wafer => {
                const waferId = wafer.querySelector("input[name='wafer-id']").value;
                const waferObj = { waferId, chips: [] }

                // Get each chip id inside this wafer
                wafer.querySelectorAll('.chip-section').forEach(chip => {
                    const chipId = chip.querySelector("input[name='chip-id']").value;
                    const chipObj = { chipId, lamellas: [] }

                    // Collect lamella data inside this chip
                    chip.querySelectorAll('.lamella-section').forEach(lamella => {
                        const lamellaName = lamella.querySelector("input[name='lamella-name']").value

                        // add lamella data to the chip object
                        chipObj.lamellas.push({ lamellaName });

                    });
                    // Add chip to the wafer object
                    waferObj.chips.push(chipObj)
                });
                // add wafer to order
                orderData.wafers.push(waferObj)
            });
            console.log(orderData) // Check the final structure
        });


        // Load List of companies
        async function loadContacts(element, selectId) {
            try {
                // Fetch data and log to confirm data came through
                const response = await fetch('/contact_accounts');
                const data = await response.json();
               

                // Add the select input and options to the add form 
                const inputDiv = document.getElementById(element);
                const inputElement = document.createElement('select');
                inputElement.id = 'contact_id'
                inputElement.name = 'contact_id'

                data.forEach(contact => {
                    const option = document.createElement('option');
                    option.value = contact.id;
                    option.textContent = `${contact.first_name} ${contact.last_name}`
                    inputElement.appendChild(option);
                })
                inputElement.value = selectId;
                inputDiv.appendChild(inputElement);
            }
            catch (err) {
                console.error("Failed to load companies:", err)
            }
        }


    </script>

</body>

</html>